In [37]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import date, timedelta, datetime
import sqlite3    
import re   
import requests   
from bs4 import BeautifulSoup   
import plotly.graph_objects as go
#import win32com.client as win32
import plotly.io as pio
from plotly.subplots import make_subplots

## Migration to Postgresql

In [38]:
import sqlalchemy
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy import Table, Column, MetaData, Integer, Computed

In [39]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float
from sqlalchemy.orm import sessionmaker

In [40]:
engine = sqlalchemy.create_engine('postgresql://postgres:Darthmaul18*@localhost:5432/crypto_db')

In [45]:
crypto_df = yf.download("BTC-USD", start= "2023-01-01", end= "2023-05-01")

[*********************100%***********************]  1 of 1 completed

In [46]:
crypto_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-01,16547.914062,16630.439453,16521.234375,16625.080078,16625.080078,9244361700
2023-01-02,16625.509766,16759.343750,16572.228516,16688.470703,16688.470703,12097775227
2023-01-03,16688.847656,16760.447266,16622.371094,16679.857422,16679.857422,13903079207
2023-01-04,16680.205078,16964.585938,16667.763672,16863.238281,16863.238281,18421743322
2023-01-05,16863.472656,16884.021484,16790.283203,16836.736328,16836.736328,13692758566
...,...,...,...,...,...,...
2023-04-27,28428.464844,29871.546875,28402.886719,29473.787109,29473.787109,27153445027
2023-04-28,29481.013672,29572.791016,28929.609375,29340.261719,29340.261719,17544464887
2023-04-29,29336.566406,29452.455078,29088.042969,29248.488281,29248.488281,10662634333
2023-04-30,29245.515625,29952.029297,29114.021484,29268.806641,29268.806641,14652199272
2023-05-01,29227.103516,29329.935547,27680.792969,28091.568359,28091.568359,18655599976

In [51]:
df=crypto_df
df.to_sql('BTC', engine)

121

In [48]:
Base = declarative_base()

class Crypto(Base):
    __tablename__ = 'BTC'
    id = Column(Integer, primary_key=True)
    date = Column(Date)
    open_price = Column(Float)
    high_price = Column(Float)
    low_price = Column(Float)
    close_price = Column(Float)
    adj_close_price = Column(Float)
    volume = Column(Integer)
    
    def __repr__(self):
        return "<row(date='{}', open_price='{}', high_price={}, low_price={}, close_price={}, adj_close_price={},volume={})>"\
                .format(self.date, self.open_price, self.high_price, self.low_price, self.close_price, self.adj_close_price, self.volume )

### Recreating Database

In [ ]:
def recreate_database():
    Base.metadata.drop_all(engine)
    Base.metadata.create_all(engine)

### Create a table

In [ ]:
Base.metadata.create_all(engine)

### Destroy a table

In [49]:
Base.metadata.drop_all(engine)

### Inspect Database

In [50]:
insp = inspect(engine)
insp.get_table_names()

['btc', 'employee', 'books']

### Creating a Session

In [ ]:
Session = sessionmaker(bind=engine)
s = Session()

### Closing a Session

In [31]:
s.close()

NameError: name 's' is not defined

### Insert Row

In [ ]:
row = Crypto(
    date = datetime(2023,1,23),
    open_price = 100,
    high_price = 110,
    low_price = 90,
    close_price = 120,
    adj_close_price = 115,
    volume = 2750
)

In [ ]:
row2 = Crypto(
    date = datetime(2023,1,23),
    open_price = 100,
    high_price = 110,
    low_price = 90,
    close_price = 120,
    adj_close_price = 115,
    volume = 2750
)

In [ ]:
Session = sessionmaker(bind=engine)
s = Session()
s.add(row)
s.commit()
#s.close()

In [ ]:
s.add(row2)

In [ ]:
s.commit()

In [ ]:
recreate_database()

In [ ]:
s.query(Crypto).first()

In [ ]:
s.close_all()
recreate_database()
s = Session()

In [ ]:
s.query(Crypto).all()

## Filter

In [ ]:
r = s.query(Book).filter_by(title='Deep Learning').first()

print("filter_by:", r)

r = s.query(Book).filter(Book.title=='Deep Learning').first()

print("filter:", r)

In [ ]:
s.query(Book).filter(Book.title.ilike('deep learning')).first()    # doesn't work with filter_by

In [ ]:
from datetime import datetime

start_date = datetime(2009, 1, 1)
end_date = datetime(2012, 1, 1)

s.query(Book).filter(Book.published.between(start_date, end_date)).all()

In [ ]:
from sqlalchemy import and_

s.query(Book).filter(
    and_(
       Book.pages > 750,
       Book.published > datetime(2016, 1, 1)
    )
).all()

In [ ]:
from sqlalchemy import or_

s.query(Book).filter(
    or_(
        Book.published < datetime(2010, 1, 1),
        Book.published > datetime(2016, 1, 1)
    )
).all()

In [ ]:
s.query(Book).order_by(Book.pages.desc()).all()

In [ ]:
s.query(Book).limit(2).all()

In [ ]:
s.query(Book).filter(
    and_(
        or_(
            Book.pages < 500,
            Book.pages > 750
        ),
        Book.published.between(datetime(2013, 1, 1), datetime(2017, 1, 1))
    )
)\
.order_by(Book.pages.desc())\
.limit(1)\
.first()

In [ ]:
s.query(Book)\
    .filter(...)\
    .filter(...)\
    .order_by(...)\
    .limit()\
    .all()

In [ ]:
pd.set_option('display.max_rows', None)

#### Funções Data ( não são usadas para as funções SQL)

In [ ]:
# Dado o offset um número inteiro, retorna a data de agora menos o offset.

def day_n (offset):         
    
    return datetime.today()-timedelta(days = offset)

In [ ]:
def sunday(offset, day):    
    
    if day.weekday()==6:     
        day = day_n(offset+2)         
        if day.strftime("%d-%m-%Y") == holiday(offset, day, dataf).strftime("%d-%m-%Y"):         
            return day         
        else:              return holiday(offset, day, dataf)         
    
    return day   

####  Caso seja domingo essa função retorna o última dia antes de começar o final de semana
####  seja ele feriado ou não.  
####  Caso não seja domingo ele retorna o mesmo dia que foi passado como argumento pela função, sem alterá-lo.

In [ ]:
def saturday(offset, day):
    
    if day.weekday()==5:     
        day = day_n(offset+1)         
        if day.strftime("%d-%m-%Y") == holiday(offset, day, dataf).strftime("%d-%m-%Y"):         
            return day         
        else:              return holiday(offset, day, dataf)     
    return day   

####  Caso seja sabado essa função retorna o última dia antes de começar o final de semana, 
####  seja ele feriado ou não.  
####  Caso não seja sábado ele retorna o mesmo dia que foi passado como argumento pela função, sem alterá-lo.

In [ ]:
def holiday(offset, day, dataf):     
    
    for i in dataf:     
        if (i[8:]+"-"+i[5:7]+"-"+i[0:4])==day.strftime("%d-%m-%Y"):             
            return holiday(offset+1, day_n(offset+1), dataf)         
    
            
    if day.strftime("%d-%m-%Y") == sunday(offset, day).strftime("%d-%m-%Y"):         
    
        
        if day.strftime("%d-%m-%Y") == saturday(offset, day).strftime("%d-%m-%Y"):             
            
            return day         
        else:             
            return saturday(offset, day)         
    else:         
        return sunday(offset, day)

In [ ]:
##### Descobrindo o D-1 #####

def find_last_workday( offset, day, dataf): 
    
    if day.strftime("%d-%m-%Y") == holiday(offset, day, dataf).strftime("%d-%m-%Y"):         
        
        if day.strftime("%d-%m-%Y") == sunday(offset, day).strftime("%d-%m-%Y"):             
            
            if day.strftime("%d-%m-%Y") == saturday(offset, day).strftime("%d-%m-%Y"):                 
                return day                 
                
            else:                     
                return saturday(offset, day)         
        else:                 
            return sunday(offset, day)         
    else:         
        return holiday(offset, day, dataf)

#### Vetor de feriados ( não são usadas para as funções SQL)

In [ ]:
def holidays():
    
    feriados = pd.read_csv(r"C:\Users\psilv\Python\feriados.csv")   
 
 
    data = feriados['data'].tolist()   
 
    ########### Cria vetor de feriados 
    
    dataf=[] 
    
    for i in data:   
        
        dataf.append(i.strip()[-4:] + "-" + ("0"+ i.strip()[0] if i.find("/")==1 else i.strip()[0:i.find("/")]) + "-" + ("0" + re.search("/(.*?)/", i.strip()).group(1) if len(re.search("/(.*?)/", i.strip()).group(1))==1 else re.search("/(.*?)/", i.strip()).group(1)))
        
    return dataf

#### Vetor de feriados ( é usada para as funções SQL)

In [36]:
def past_n_days(n):     
    day = datetime.today()-timedelta(days = n)     
    print("O último dia corrido é: " +  day.strftime("%d-%m-%Y"))     
    return day

####  Função auxiliar para criar Vetor de dias úteis ( é usada para as funções SQL)

In [ ]:
##### Date Format input  YY-MM-dd,  run_days são números inteiros

##### O input de data dentro da função pandas.date_range deve ser no formato YY-MM-dd

def date_array (last_day, run_days):

   
    Datas = pd.date_range(end = last_day.strftime("%Y-%m-%d"), periods = run_days).to_pydatetime().tolist()

    
    datas=[] 

    
    for k in range(len(Datas)):

        datas.append(Datas[len(Datas) - k -1])
 
    return datas

#### Função iterativa para criar Vetor de dias úteis. ( não são usadas para as funções SQL)

In [ ]:
#### Função para obter um vetor de dias úteis de um tamanho específico, por ser iterativa é custosa computacionalmente

#### Date format input dd-MM-YY, length é número inteiro


def work_days_array_length(last_day, length):


    i=length

    while len(date_array(last_day, i))!= length:

        if len(date_array(last_day, i))==length:

            break

        i+=1

    return date_array(last_day, i)

#### Função  Vetor de dias úteis. ( é usada para as funções SQL)

In [ ]:
####### Criando vetor desde o ultimo dia do banco até o D-1

####### Start é a mais antiga, e End a mais recente

####### Date Format input  YY-MM-dd (SQL)


def  work_days_array_btw_dates(start_date, end_date):
    

    end = end_date
    start = start_date

    
    dif = end-start
    dif = int(abs(dif.days))
    
    
    print("Números de dias a serem atualizados:  " + str(dif))
    print("\n")
    
    #### No caso start_date=end_date é preciso desse if 
    
    if dif == 0:
        dif=2
            

    dates = date_array(end_date, 2*dif)

    aux=0
    

    for i in dates:

        if i==start_date:

            aux = dates.index(i)
                 
    
    return dates[:aux+1]

#### Função para deletar linha específica

In [ ]:
def delete_row_sql(table_name, column_name, conn, desired_info):
    
    
    query = ("""DELETE""" + 
             """ FROM """ + table_name +
             """ WHERE """ + column_name +
             """ = '""" + desired_info +
             """'; """)
    
    conn.execute(query)
    
    print("Deleted as Follows:")
    print("\n")
    print(query)

#### Função para obter um dataframe a partir de uma query do banco de dados

In [ ]:
### Criar função para obter um dataframe entre datas específicas a partir de uma query em SQL

def df_from_sql_query(table_name, date_column_name, conn, start_date, end_date):
    
    
    query = ("""SELECT * """ + 
             """ FROM """ + table_name +
             """ WHERE """ + date_column_name +
             """ BETWEEN strftime('%Y-%m-%d %H:%M:%S', '""" + start_date +
             """') AND strftime('%Y-%m-%d %H:%M:%S', '""" + end_date +
             """') ORDER BY """ + date_column_name + """; """)
    
    #print(query)

    df = pd.read_sql_query(query, conn)
    
    print(df.dtypes)
    
    
    return df

#### Inserindo novas linhas no banco de dados

In [ ]:
##### Tornar essa função genérica para qualquer dataframe

def insert_n_lines_database(cursor, df, table_name, date_column_name):
    
           
    print("\n")     
    print("Os dados antes da atualização eram:")   
    print("\n")  
    
    for i in get_last_n_rows(cursor, table_name, 5, date_column_name):   
        print(i)             
 
    print("\n")     
   
    insert_n_rows(cursor, df, table_name)             
       
    print("\n")   
    print("Os novos dados são:")   
    print("\n")     
                   
    for i in get_last_n_rows(cursor, table_name, 5, date_column_name):   
        print(i)         
    print("\n")

#### Atualizando as bases de dados

In [ ]:
def updating_database(cursor, date_column_name):      
    
    for i in assets:
        
        print('\n')
        
        day = past_n_days(1)
    
        #day = day.strftime("%Y-%m-%d")
        
        ###### Verificando a última data atualizada no banco de dados   
        last_date_db = get_last_db_date(cursor, date_column_name, i)
        
        

        if last_date_db.strftime("%Y-%m-%d") == day.strftime("%Y-%m-%d"):         
            print("Os dados da cripto " + str(i) + " estão Atualizados!!")         
        else:         
            print("\n")     
            print("O último dia atualizado no banco de dados é: " + last_date_db.strftime("%Y-%m-%d"))   
            print("\n")         

            #### Vetor de datas   
            dates = work_days_array_btw_dates(last_date_db, day)[:-1]   
            print("Datas a serem atualizadas no banco de dados:")         
            print("\n")         

            for j in range(len(dates)):             
                print(dates[j])             


            print("\n")
            print("Downloading from Yahoo Finance API ....")         
            print("\n")         

            #### Dataframe com os resultados
            
            print("Moeda Atualizada: " + assets[i])
            
            print(last_date_db.date())
            print(day.date())
            print((day-last_date_db).days)
            
            print(dates)
            print(dates[0])
            print(dates[0].strftime("%Y-%m-%d"))
            print(dates[-1:][0].strftime("%Y-%m-%d"))
            
    

            df = get_data_btw_date(assets[i],dates[-1:][0].strftime("%Y-%m-%d"), dates[0].strftime("%Y-%m-%d"))     


            #### Inserindo novos dados           
            insert_n_lines_database(cursor, df, i, date_column_name)  

            ##### Adicionar o insert lines dentro da função Web Scrap para atualizar o banco de dados em cada iteração e não
            ##### correr o risco de falhar o web scraping e perder os dados

#### Função para captar os dados da API do Yahoo Finance

In [ ]:
#### Nome da moeda, exemplo: Ethereum é ETH-USD
#### Data format YY-MM-DD

def get_data_btw_date(crypto_name, start_date, end_date):
    
    crypto_df = yf.download(crypto_name, start= start_date, end= end_date)
    
    crypto_df = crypto_df.reset_index(level=0)
    
    #print(crypto_df.dtypes)
    #print(crypto_df)
    
    ## Agora o banco de dados recebe a coluna de data como tipo data, ateriormente era texto. 
    ##As operações abaixo transformavam para texto.
    
    #crypto_df['Date'] = pd.to_datetime(crypto_df['Date'], format='%Y-%m-%d %H:%M:%S')
    
    #crypto_df['Date'] = crypto_df['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')

    #print(crypto_df.dtypes)
    #print(crypto_df)

    return crypto_df

#### Funções SQL

In [29]:
#### index can be False or True, to me worked as False

def create_table(df, name_desired, engine):
    
        df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')
    
        df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')

    
        df.to_sql(name_desired, engine)

In [ ]:
def rename_table(table_name, new_table_name, cursor):
    
    try:
        
        for i in get_names_tables(cursor):
        
            if new_table_name == i[0]:
                
                print("O Nome já está em uso!")
            
                raise Exception

        cursor.execute("""ALTER TABLE """ +  table_name + """ RENAME TO """ + new_table_name + """ ;""")

    except Exception:

        print("Não foi possível alterar o nome da tabela!")

In [ ]:
def show_table(table_name, cursor):     
    
    c=cursor.execute("""SELECT * FROM """ + table_name ).fetchall()     
    for i in c:      
        print(i)     
    return c

In [12]:
def delete_table(name, cursor):   
    
    cursor.execute("""DROP TABLE """ +  name ).fetchall()

In [ ]:
def last_database_day(crypto_name):

    sql_str = '''SELECT Date FROM ''' + crypto_name + ''' ORDER BY Date DESC LIMIT 1;'''

    c.execute(sql_str)

    date = c.fetchone()

    return date[0][:10]

In [ ]:
def get_names_tables(cursor):     
    
    cursor.execute('''SELECT name FROM sqlite_master WHERE type='table';''')   
    
    return(cursor.fetchall())

In [ ]:
def count_rows_table(cursor, table_name): 
    
    c = cursor.execute("""SELECT COUNT(*) FROM """ + table_name).fetchall()     
    return c[0][0]

In [ ]:
def get_columns_names(cursor, table_name): 
    
    c = cursor.execute("""PRAGMA table_info(""" + table_name + """);  """ ).fetchall()     
    col_names = []     
    for i in c:         
            col_names.append(i[1])
            
    return col_names

In [ ]:
def get_last_n_rows(cursor, table_name, n_rows, column_name):
    
    c = cursor.execute("""SELECT * FROM """ 
                       + table_name + 
                       """ ORDER BY """ +column_name + 
                       """ DESC LIMIT """+ str(n_rows) + 
                       """ ; """  ).fetchall()     
#     for i in c:      
#         print(i)


    
    return c

In [ ]:
def insert_n_rows(cursor, df, table_name):     
 
   
    new_values = []   
    
    df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')
    
    df['Date'] = df['Date'].dt.strftime('%Y-%m-%d %H:%M:%S')


    
    for i in range(len(df)):
        
        
        new_values.append(tuple(df.iloc[i]))
        
    
    s=""     
    
    for i in new_values:   
        
        s+=str(i) + ","   
        
    
    s=s[:-1] 

    print("")
    
    print(s)
    
    
    cursor.execute("""INSERT INTO """ + table_name + """ VALUES """ + s + """ ; """  )

In [ ]:
def distinct_values(table_name, column_name, cursor):
    
    c = cursor.execute("""SELECT """ + column_name + """, COUNT(*) """ + """ FROM """ + table_name + """ GROUP BY """ +  column_name + """ ; """  ).fetchall()     
    
    
    for i in c:
        
        print(i)

In [ ]:
def change_columns_names(cursor, table_name, column_old_name, column_new_name):   
 
    print("Old Columns Names: " + str(get_columns_names(cursor, table_name)) )     
    c = cursor.execute("""ALTER TABLE """ + table_name +                                 """ RENAME COLUMN """ + column_old_name +                                 """ TO """+column_new_name+                                 """ ; """  ).fetchall()     
    print("New Columns Names: " + str(get_columns_names(cursor, table_name)) )

In [ ]:
def get_last_db_date(cursor,column_name, table_name):  
    
    c=cursor.execute("""SELECT """ + column_name + 
                     """ FROM """ + table_name + 
                     """ ORDER BY """ + column_name + 
                     """ DESC LIMIT 1 ; """).fetchall()     
    return c[0][0]

In [ ]:
def database_info(cursor, table_name, date_column_name):
    
        
    
    print("O banco de dados contém as seguintes tabelas: ")
    
    print("\n")
    
    for i in get_names_tables(cursor):
        print(i[0])
    
    print("\n")
    
    print("O nome da tabela solicitada é :" + table_name)
    
    print("\n")
    
    print("O nome das colunas são: ")
    
    print("\n")
    
    print(get_columns_names(cursor, table_name))
    
    print("\n")
    
    print("O número total de linhas é: " + str(count_rows_table(cursor, table_name)))
    
    print("\n")
    
    print("A data mais recente dos dados é: " + str(get_last_db_date(cursor,date_column_name, table_name)))
    
    print("\n")
    
    print("Todas as datas distintas e quantas linhas cada uma possui são: ")
    
    print("\n")
    
    print(distinct_values(table_name, date_column_name, cursor))

In [22]:
def get_new_crypto_in_yf(crypto_name, table_title, engine, end_date):
    
 
    df = get_data_btw_date(crypto_name, '2000-01-01', end_date)
        
    #### Data escolhida é bem antes do surgimento das criptomoedas no planeta terra
        
        
    create_table(df, table_title, engine)

In [23]:
###### updating entire database for all assets ##########

def insert_new_criptos_in_db(assets):
    
    day = past_n_days(1)
    
    day = day.strftime("%Y-%m-%d")

    for i in assets:
        
        try:

            get_new_crypto_in_yf(assets[i], i, engine, day)
            
        
        except Exception:
            
            print(str(assets[i]+ " já  está no banco de dados!"))
            
            continue

In [10]:
assets = { 'BTC': 'BTC-USD', 
           'ETH': 'ETH-USD', 
           'USDT':'USDT-USD', 
           'USDC':'USDC-USD', 
           'BNB':'BNB-USD',
           'BUSD':'BUSD-USD',
           'XRP': 'XRP-USD',
           'ADA': 'ADA-USD',
           'SOL': 'SOL-USD',
           'DOGE':'DOGE-USD',
           'DOT': 'DOT-USD',
           'HEX': 'HEX-USD',
           'SHIB': 'SHIB-USD',
           'DAI': 'DAI-USD',
           'WTRX': 'WTRX-USD',
           'AVAX':'AVAX-USD',
           'MATIC': 'MATIC-USD',
           'TRX': 'TRX-USD',
           'STETH': 'STETH-USD',
           'WBTC': 'WBTC-USD',
           'LEO': 'LEO-USD',
           'ETC': 'ETC-USD',
           'LTC': 'LTC-USD'
         }

#### Rodando

In [ ]:
## These detect_types allow us to read date columns as date type that was stored as a string by sqlite3

conn = sqlite3.connect('crypto_data', detect_types=sqlite3.PARSE_DECLTYPES|sqlite3.PARSE_COLNAMES)
c = conn.cursor()

In [ ]:
conn.commit()
c.close()

In [ ]:
# Datetime tips

# datetime(2023,6,13)

# datetime(2023,6,13,0,0,0)

# datetime(2023,6,13).date()

# date_array(datetime.today(),5)

In [ ]:
#df_from_sql_query('ETH', "Date", conn, "2022-01-28", "2022-07-25")

In [ ]:
#a = get_data_btw_date('BTC-USD', '2023-01-12', '2023-06-05')

In [ ]:
#get_last_db_date(c,"Date", "ADA")

In [ ]:
updating_database(c, "Date")

In [ ]:
database_info(c, 'BTC','Date')

In [13]:
for i in assets:
    
    delete_table(i, c)

NameError: name 'c' is not defined

In [35]:
insert_new_criptos_in_db(assets)

O último dia corrido é: 20-07-2023
BTC-USD já  está no banco de dados!
ETH-USD já  está no banco de dados!
USDT-USD já  está no banco de dados!
USDC-USD já  está no banco de dados!
BNB-USD já  está no banco de dados!
BUSD-USD já  está no banco de dados!
XRP-USD já  está no banco de dados!
ADA-USD já  está no banco de dados!
SOL-USD já  está no banco de dados!
DOGE-USD já  está no banco de dados!
DOT-USD já  está no banco de dados!
HEX-USD já  está no banco de dados!
SHIB-USD já  está no banco de dados!
DAI-USD já  está no banco de dados!
WTRX-USD já  está no banco de dados!
AVAX-USD já  está no banco de dados!
MATIC-USD já  está no banco de dados!
TRX-USD já  está no banco de dados!
STETH-USD já  está no banco de dados!
WBTC-USD já  está no banco de dados!
LEO-USD já  está no banco de dados!
ETC-USD já  está no banco de dados!
LTC-USD já  está no banco de dados!

In [ ]:
#df_from_sql_query('ETH', "Date", conn, "2023-01-01", "2023-06-13")

In [ ]:
def plot(title,crypto, conn, startDate, endDate):
    
    
    df=df_from_sql_query(crypto, "Date", conn, startDate, endDate)
    
    df['Date']= pd.to_datetime(df['Date'])
    
    df=df.drop(columns=['Adj Close'])
    
#     eth_df.set_index('Date')

    fig = go.Figure(data=[go.Candlestick(x=df['Date'],
                    open=df['Open'],
                    high=df['High'],
                    low=df['Low'],
                    close=df['Close'])])

    fig.update_layout(xaxis_rangeslider_visible=False)

    fig.update_layout(
        title= title,
        yaxis_title='Price',

    )

    fig.write_html(title + ".html")
    fig.write_html(title + ".html")

    fig.show()

In [ ]:
plot('ETHER-USD','ETH', conn, '2022-08-01', '2022-09-14')

In [ ]:
plot('BTC-USD','BTC', conn, '2022-08-01', '2022-09-14')